:root {
  --christmas-red: #d32f2f;
  --christmas-green: #388e3c;
  --christmas-white: #fff;
  --christmas-gold: #ffd700;
  --christmas-silver: #c0c0c0;
  --snowy-blue: #b3cde0;
  --tree-green: #2e7d32;
  --animation-time: 2s;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 56px;
  flex: 1;
  padding-bottom: 60px;
}

body {
  background-color: var(--snowy-blue);
  color: var(--christmas-white);
  font-family: 'Fredoka One', sans-serif;
}

h1 {
  color: #2c3e50;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mountains of Christmas', cursive;
}

.card {
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: var(--christmas-red);
  border-bottom: 3px solid var(--christmas-gold);
}

.navbar-dark .navbar-nav .nav-link {
  color: #ecf0f1;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #3498db;
}

.container {
  max-width: 1200px;
}

pre {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 3px;
  font-family: monospace;
}

.collapsible-content {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}

.collapsible-content {
  display: none;
}

.collapsible-content.open {
  display: block;
  max-height: 500px;
}

pre {
  width: fit-content;
}

.card {
  margin-bottom: 1rem;
  background: var(--christmas-red);
  border: 2px solid var(--christmas-green);
  color: var(--christmas-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--christmas-red);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  border-top: 3px solid var(--christmas-green);
}

.snowflakes {
  position: fixed; /* Keep snowflakes fixed on the screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}

.snowflake {
  position: absolute; /* Position snowflakes absolutely inside the container */
  top: -50px; /* Start off-screen */
  font-size: 2rem; /* Default size */
  color: white;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0); /* Start at the top */
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh); /* Snowflakes fall to the bottom */
    opacity: 0.4;
  }
}

.snowflake:nth-child(odd) {
  animation-duration: 12s;
  animation-delay: -2s;
}

.btn-primary {
  background-color: var(--tree-green);
  border: var(--christmas-silver);
}

.btn-primary:hover {
  background-color: var(--christmas-green);
}