<div class="snowflakes">
  @for (snowflake of snowflakeArray; track snowflake) {
    <div class="snowflake" #snowflake>❄️</div>
  }
</div>

<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">🎄 Advent Of Code 🎄</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @for (info of yearInfo; track info) {
          <li class="nav-item">
            <a class="nav-link" href="/year/{{info.year}}">{{info.year}} [<span>{{info.stars}}<mat-icon>star</mat-icon></span>]</a>
          </li>
        }
      </ul>
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="text-center text-white py-4">
    <p>❄️ Made with ❤️ for Christmas 🎄</p>
  </footer>
</div>