<div class="container mt-5">
    <button class="btn btn-secondary mb-3" (click)="goBack()">Back to Overview</button>
    <h1 class="text-center mb-4">Advent of Code {{year}}</h1>
    <div *ngIf="dailyResults.length !== noDays" class="text-center mb-4">
      <h2 class="text-center mb-4">Days run: {{dailyResults.length}} of {{noDays}}</h2>
      <mat-progress-bar 
        mode="determinate" 
        [value]="completionPercentage"
        color="primary">
      </mat-progress-bar>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let day of dailyResults">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">{{day.title}}</h5>
            <p class="card-text">Challenge summary for Day {{day.day}}</p>
            <p class="card-text">Part 1: {{day.part1}} ({{day.timePart1}}ms)</p>
            <p class="card-text">Part 2: {{day.part2}} ({{day.timePart2}}ms)</p>
            <a href="/{{year}}/day/{{day.day}}" class="btn btn-primary">View Challenge</a>
          </div>
        </div>
      </div>
    </div>
  </div>