<div class="container mt-5">
    <h1 class="text-center mb-4">Advent of Code</h1>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let info of yearInfo">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">{{info.year}} [<span>{{info.stars}}<mat-icon>star</mat-icon></span>]</h5>
            <p class="card-text">Days completed: {{info.days}}/{{info.year >= 2025 ? 12 : 25}}</p>
            <a href="/year/{{info.year}}" class="btn btn-primary">View {{info.year}}</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>